{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}42_cc_test{% endblock title %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-xs-10">
		    <a href="{% url 'index' %}"><h1>Django test</h1></a>
            </div>
            <div class="col-xs-2">
                <br>
                {% if user.is_authenticated %}
                    <a href="{% url 'edit' %}">Edit</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
        <form class="form-horizontal" role="form" action="." method="post" enctype="multipart/form-data"
              id="user-info-form">
            {% csrf_token %}
            {% if form %}
                <div class="col-xs-6">
                    <div class="row">
                        <div class="form-group">
                            <label for="id_first_name" class=" col-xs-3">Name: </label>
                            <div class="col-xs-8">
                                {{ form.first_name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="id_last_name" class=" col-xs-3">Last name: </label>
                            <div class="col-xs-8">
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <label for="id_date_of_birth" class=" col-xs-3">Date of birth: </label>
                            <div class="col-xs-8">
                                {{ form.date_of_birth }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="photo" class="col-xs-3">Photo:</label>
                            <div class="col-xs-8">
                                {{ form.photo }}
                            </div>
                        </div>
                    </div>
                    <div class="row" align="center">
                            <img id="output_photo" src="{% if form.photo.value %}{{ form.photo.value.url }}{% else %}{% static 'img/default.gif' %}{% endif %}" class="img-rounded" >
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="form-group">
                            <label for="id_email" class=" col-xs-3">email: </label>
                            <div class="col-xs-8">
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="id_jabber" class=" col-xs-3">jabber: </label>
                            <div class="col-xs-8">
                                {{ form.jabber }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <label for="id_skype" class="col-xs-3">Skype: </label>
                            <div class="col-xs-8">
                                {{ form.skype }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="id_other_contacts" class=" col-xs-3">Other contacts: </label>
                            <div class="col-xs-8">
                                {{ form.other_contacts }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="id_bio" class="col-xs-3">Bio: </label>
                            <div class="col-xs-8">
                                {{ form.bio }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" align="center">
                    <br>
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    <button type="reset" class="btn btn-danger btn-lg">Discard</button>
                </div>
                </form>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Error! No person info!
                </div>
            {% endif %}
        <!--Footer-->
        <div class="row">
            <hr>
            <br>
            <a href="{% url 'request_logger' %}">requests</a>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>
    <script src="{% static 'js/datePicker.js' %}"></script>
    <script src="{% static 'js/form_submission.js' %}"></script>
    <script src="{% static 'js/photo_preview.js' %}"></script>
{% endblock extra_js %}
