{% extends 'base.html' %}

{% load static %}

{% load edit_link %}

<div class="container">

</div>

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <a href="{% url 'index' %}"><h1>42 Coffee Cups Test Assignment</h1></a>
            </div>
            <div class="col-xs-2">
                <br>
                {% if user.is_authenticated %}
                    <a href="{% url 'edit' %}">Edit</a>|
                    <a href="{% url 'logout' %}">Logout</a>
                    {% edit_link person %}
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
        {% if person %}
            <div class="row">
                <div class="col-xs-6">
                    <div class="row ">
                        <div class="col-xs-3 label">
                            Name:
                        </div>
                        <div class="col-xs-9">
                            {{ person.first_name }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-3 label">
                            Last name:
                        </div>
                        <div class="col-xs-9">
                            {{ person.last_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 label">
                            Date of birth:
                        </div>
                        <div class="col-xs-9">
                            {{ person.date_of_birth }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 label">
                            Photo:
                        </div>
                    </div>
                    <div class="row" align="center">
                        <img src="
                                {% if person.photo %}{{ person.photo.url }}{% else %}{% static 'img/default.gif' %}{% endif %}"
                             class="img-rounded">
                    </div>
                    `
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-2 label">
                            email:
                        </div>
                        <div class="col-xs-10">
                            {{ person.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 label">
                            jabber:
                        </div>
                        <div class="col-xs-10">
                            {{ person.jabber }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 label">
                            Skype:
                        </div>
                        <div class="col-xs-10">
                            {{ person.skype }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 label">
                            Other contacts:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            {{ person.other_contacts }}
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 label">
                            Bio:
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            {{ person.bio }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Error! No person info!
            </div>
        {% endif %}
        <div class="row">
            <hr>
            <br>
            <a href="{% url 'request_logger' %}">requests</a>
        </div>
    </div>

{% endblock %}