body{
font-size: 20px;
}
h1{
   color: black;
}
a:hover{
    text-decoration: none;
}


.label{
    text-align:left;
    color:black;
    font-size: 20px;
}

td{
    padding:20px
}
hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 5px 1px black;
}

.text-danger{
    font-size: 14px;
}

img{
    width:200px;
}